@model IEnumerable<BibliotecaModel>


<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Livros Cadastrados</h1>
        <a class="btn btn-success mx-2" asp-controller="Biblioteca" asp-action="Cadastrar"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar Novo Emprestimo</a>
    </div>
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-light" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
    
    <table id="Biblioteca" class="table table-light table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Livro</th>
                <th scope="col">Autor</th>
                <th scope="col">Idioma</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                @foreach (var biblioteca in Model)
                {
                    <tr>
                        <th scope="row">@biblioteca.Titulo</th>
                        <td>@biblioteca.Autor</td>
                        <td>@biblioteca.Idioma</td>
                        <td>@biblioteca.DataCadastro.ToShortDateString()</td>
                        <td class="d-flex">
                            <a class="btn btn-primary mx-1" asp-controller="Biblioteca" asp-action="Detalhar" asp-route-id="@biblioteca.Id"><i class="bi bi-binoculars mx-2"></i>Detalhes</a>
                            <a class="btn btn-warning mx-1" asp-controller="Biblioteca" asp-action="Editar" asp-route-id="@biblioteca.Id"><i class="bi bi-pencil-square mx-2"></i>Editar</a>
                            <a class="btn btn-danger mx-1" asp-controller="Biblioteca" asp-action="Excluir" asp-route-id="@biblioteca.Id"><i class="bi bi-trash3-fill mx-2"></i>Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>